
body{
  background-color: #f8f9fa;
}
.content {
  flex: 1;
}


/* page login */
/* Center the login container on the page */
  
  .card-header {
    background-color: #ffffff;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  /* CSS Switch */

  .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

  /* CSS Login */

  form .btn-primary.login{
    background-color: #f7921e;
    ;

  }
  form .btn-primary.login:hover{
    background-color:#eea553
  }

  
  .card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}
#userTable {
  margin-top: 30px;
}

/* Edit Section btn */

.edit-btn {
  background-color: #198754; /* Bootstrap warning color (yellow) */
  color: white;
  border: none;
}

.edit-btn:hover {
  background-color: #015f11; /* Darker shade for hover effect */
  color: #ffffff;
}

h6 {
  display: block;
  width: 100%;
}




